@charset "utf-8";
/* CSS Document */
.container-fluid{
	padding:0;
}
.row{
	margin:0;
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse{
	max-height:400px;
}
.navbar-header .span{
	width:20%;
	height:20px;
	background:#000;
	display:inline-block;
	position: relative;
 	top: 13px;
}